@model IEnumerable<OptikaRihoskova.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Optometrist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationMins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptometristConfiremed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientConfirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Optometrist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationMins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptometristConfiremed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientConfirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
